{% extends 'historia1/base.html' %}
{% load static %}

{% block content %}
<div class="container">

  <div class="row">

    <h1>Texto Inicial</h1>
    <div class="col-md-6">
      <textarea>
        <p style="text-align: center;">
          {{strng.texto}}
        </p>
      </textarea>
    </div>

    <div class="col-md-6">

      <h1>Código de Asignatura</h1>
      <textarea type="text" class="varios">
      </textarea>

      <h1>Denominación</h1>
      <textarea type="text">
      </textarea >

      <h1>Período Vigencia</h1>
      <label>Trimestre</label>
      <select>
        <option value="EM">Enero - Marzo</option>
        <option value="AJ">Abril - Julio</option>
        <option value="SD">Septiembre - Diciembre</option>
      </select>

      <label>Año</label>
      <input type="number" min="1969" max="2017" step="1" value="2017" />

      <h1>Horas semanales</h1>
      <input class="textH" min="0" max="40" step="1" type="number">
      </input>

      <h1>Unidades de Crédito</h1>
      <input class="textH" type="number" step="1"  min="0" max="16" >
      </input>

      <h1>Requisitos</h1>
      <input type="text">
      </input>

      <h1>Objetivos</h1>
      <textarea type="text">
      </textarea >

      <h1>Contenidos Sinópticos</h1>
      <textarea type="text">
      </textarea >

      <h1>Estrategias Metodológicas</h1>
      <textarea type="text">
      </textarea >

      <h1>Estrategias de Evaluación</h1>
      <textarea type="text">
      </textarea >

      <h1>Fuentes de información recomendadas</h1>
      <textarea type="text">
      </textarea >

      <h1>Departamento (Ojo, Historia 11)</h1>
      
    </div>
  <div>

</div>
{% endblock %}