{% extends 'historia1/base.html' %}

{% block content %}

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h1>TRANSFORMAR DE PDF</h1>
            <form>
                <select>
                    <option value="1">Convertir PDF a Texto</option>
                    <option value="2">Convertir PDF a HTML </option>

                </select>
            </form>
        <div class="panel">
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Siguiente</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>

{% endblock %}
